body{
	background-color: white;
}
.container{
	margin-top: 4%;
}
.eu{
	width: 200px;
	height: 200px;
	border-radius: 100px;
}
.cont{
	position: absolute;  
	left: 70%;
	color:black;
}
li{
	list-style: none;
}
a:link{
	color: black;
}
a:visited{
	color: black;
}

.linha{
	border-left: 2px solid black;
  	height: auto;
}
.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  }

  @media (min-width: 768px) {
	.bd-placeholder-img-lg {
	  font-size: 3.5rem;
	}
  }
li{
	  list-style: none;
  }
