body{
    min-height: 100vh;
    background-image: url("../img/logo.jpg");
}
.nav{
  background: linear-gradient(to top, #614c34, #e2cebcc4);

}
.titulo{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 1000;
  text-align: center;
  color: white;
  font-size: 200%;
}
.table2{
  background-color: rgba(125, 125, 125, 0.4);
  color:white;
}
footer {
    position: fixed;
    height: 50px;
    padding:15px;
    text-align:center;
    font-weight:bold;
    bottom: 0;
    width: 100%;
}
.aux{
  margin-left:10px;
}
div{
    padding:10px;
}

a:link {
    color: black;
    font-weight:bold;
  }
  a:visited {
    color: black;
    font-weight:bold;
  }
  
  li{
    color: black;
      margin-left:10px;
  }
